<h2>Liste des Change</h2>

<ul>
	{{# changes }}
	<li class="change" data-id="{{ id }}">{{ name }} {{ date }} {{ amount }} {{ value }} > {{ new_value }} {{ currency }}
		<button type="button" class="btn btn-primary btn-xs edit">Modifier</button>
		<button type="button" class="btn btn-primary btn-xs delete">Supprimer</button>
	</li>
	{{/ changes }}
	{{^ changes}}
	 <p>Aucun change renseigné</p>
	{{/ changes}}
</ul>
