<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="box_background">
				<form id="changes_form">
					<div class="row">
						<div class="col-md-12">
						{{#change}}
							<h2>Edit change</h2>
						{{/change}}
						{{^change}}
						 	<h2>Add change</h2>
						{{/change}}
						<hr/>
						</div>
						<div class="col-md-12">

							<div class="form-group">
								<p class="error-msg"></p>
							    <div>
									<input type="text" value="{{#change}}{{ name }}{{/change}}"  class="form-control" name="name" placeholder="Short description" />
								</div>
							</div>

							<div class="form-group">
								<p class="error-msg"></p>
							    <div class="input-group">
							    	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
									<input type="text" value="{{#change}}{{ date }}{{/change}}" class="form-control datepicker" name="date" placeholder="Date" />
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
							    <p class="error-msg"></p>
							    <div>
									<input type="text" value="{{#change}}{{ amount }}{{/change}}"  class="form-control" name="amount" placeholder="Amount" />
								</div>
							</div>

							<div class="form-group">
								<div class="form-group">
									<p class="error-msg"></p>
								 	<div class="input-group">
									  	<div class="input-group-addon"><i class="fa fa-money"></i></div>
										<select class="form-control" name="currency" disabled="disabled">
										<option value="">---</option>
										{{#currencies}}
										<option value="{{ id }}">{{ name }}</option>
										{{/currencies}}
									</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<h3 class="text-center" style="font-size: 50px;"><i class="fa fa-long-arrow-right"></i></h3>
						</div>
						<div class="col-md-5">

							<div class="form-group">
							    <p class="error-msg"></p>
							    <div>
									<input type="text" value="{{#change}}{{ new_amount }}{{/change}}"  class="form-control" name="new_amount" placeholder="New Amount" />
								</div>
							</div>

							<div class="form-group">
								<div class="form-group">
									<p class="error-msg"></p>
								 	<div class="input-group">
									  	<div class="input-group-addon"><i class="fa fa-money"></i></div>
										<select class="form-control" name="new_currency">
											<option value="" disabled selected>New currency</option>
											{{#currencies}}
											<option value="{{ id }}">{{ name }}</option>
											{{/currencies}}
										</select>
									</div>
								</div>
							</div>

							<input type="hidden" name="active" value="true" />
							<input type="hidden" name="account" value="" />
							{{#change}}
							<input type="hidden" name="id" value="{{ id }}" />
							<input type="hidden" name="user" value="{{ user }}" />
							{{/change}}
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-md-6">

							{{#change}}
							<input type="submit"class="btn btn-primary btn-block" value="Edit" />
							{{/change}}
							{{^change}}
							<input type="submit"class="btn btn-primary btn-block" value="Save" />
							{{/change}}
						</div>

						<div class="col-md-6">
							<button type="button" class="btn btn-default btn-block changes_form_cancel">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
