{{#calendar}}
<header class="container-fluid grey datepickerpage">
	<div class="container">
		<div class="row title">
			<div class="col-xs-12">
				<a href="#/transactions/{{before}}"><<</a>
				<h2>{{ year }}</h2>
				<a href="#/transactions/{{after}}">>></a>
			</div>
		</div>
		<div class="row">
		{{#months}}
			<div class="col-xs-4 col-md-3 col-lg-2">
				<div class="monthSelector">
					<a href="#/transactions/{{year}}/{{month}}">
						<h3>{{label}}</h3>
						<!--
						<div class="details">
							<p>{{ credits }}</p>
							<p>{{ debits }}</p>
						</div>
						-->
					</a>
				</div>
			</div>
		{{/months}}
		</div>

	</div>

</header>
{{/calendar}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Statistiques</h2>

			<p>Total debit : {{ stats.global.debits }} CHF</p>
			<p>Total crédit : {{ stats.global.credits }} CHF</p>
			<p>Global result : {{ stats.global.sum }} CHF</p>

			<p>Average debit per month : {{ stats.average.debits }} CHF</p>
			<p>Average credit per month : {{ stats.average.credits }} CHF</p>
			<p>Average result per month : {{ stats.average.sum }} CHF</p>

			<p>Expense per category : </p>
			<ul>
				{{#stats.categories}}
				<li>{{ category.name }} : {{ sum }}</li>
				{{/stats.categories}}
			</ul>

			{{#stats.changes}}
			<p>This year, you exchange {{ old }} CHF with {{ new }} € (Average of {{ average }} per change)<br/>
			<small>Average exchange rate : {{ rate }}</small></p>
			{{/stats.changes }}
		</div>
	</div>
</div>
