{{#calendar}}
<header class="container-fluid grey datepickerpage">
	<div class="container">
		<div class="row title">
			<div class="col-xs-12">
				<a href="#/transactions/{{before}}"><<</a>
				<h2>{{ year }}</h2>
				<a href="#/transactions/{{after}}">>></a>
			</div>
		</div>
		<div class="row">
		{{#months}}
			<div class="col-xs-6 col-md-4 col-lg-3">
				<div class="monthSelector">
					<a href="#/transactions/{{year}}/{{month}}">
						<h3>{{label}} ({{ count }})</h3>
						<div class="details">
							<p>{{ credits }}</p>
							<p>{{ debits }}</p>
						</div>
					</a>
				</div>
			</div>
		{{/months}}
		</div>

	</div>

</header>
{{/calendar}}
