<form id="debitcredit_form" class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
		{{#debitcredit}}
			<h2>Modifier un debit/credit</h2>
		{{/debitcredit}}
		{{^debitcredit}}
		 	<h2>Ajouter un debit/credit</h2>
		{{/debitcredit}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="form-group">
				<label class="col-sm-12 control-label">Currency</label>
				<div class="col-sm-12">
					<select class="form-control" name="currency">
						<option value="">---</option>
						{{#currencies}}
						<option value="http://localhost:8000/api/v1/currencies/{{ id }}">{{ name }}</option>
						{{/currencies}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-12">
					<input type="text" value="{{#debitcredit}}{{ name }}{{/ debitcredit }}" class="form-control" name="name" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12 control-label">Amount</label>
				<div class="col-sm-12">
					<input type="text" value="{{#debitcredit}}{{ amount }}{{/ debitcredit }}" class="form-control" name="amount" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12 control-label">Date</label>
				<div class="col-sm-12">
					<input type="text" value="{{#debitcredit}}{{ date }}{{/ debitcredit }}" class="form-control datepicker" name="date" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12 control-label">Enable</label>
				<div class="col-sm-12">
					<input type="text" value="{{#debitcredit}}{{ active }}{{/ debitcredit }}{{^debitcredit}}true{{/debitcredit}}" class="form-control" name="active" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12 control-label">Category</label>
				<div class="col-sm-12">
					<select class="form-control" name="category">
						<option value="">---</option>
						{{#categories}}
						<option value="http://localhost:8000/api/v1/categories/{{ id }}">{{ name }}</option>
						{{/categories}}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<input type="hidden" name="account" value="" />
			{{#debitcredit}}
			<input type="hidden" name="id" value="{{ id }}" />
			<input type="hidden" name="user" value="{{ user }}" />

			<button type="button" class="btn btn-primary debitscredits_form_submit">Modifier</button>
			{{/debitcredit}}
			{{^debitcredit}}
			<button type="button" class="btn btn-primary debitscredits_form_submit">Créer</button>
			{{/debitcredit}}
			<button type="button" class="btn btn-primary debitscredits_form_cancel">Annuler</button>
		</div>
	</div>
</form>
