

<div class="row">
    <div class="col-md-8 col-md-offset-2 box_empty">

        <h2>Nothing to show</h2>
        <hr/>

        <p>You do not have any transation for {{ date }}</p>
        <hr/>

        <div class="row">
             <div class="col-md-4">

                <a href="#/transactions/{{ year }}" class="btn btn-default btn-block"><i class="fa fa-angle-left" aria-hidden="true"></i> back to {{ year}} view</a>
            </div>
             <div class="col-md-4 ">

                <button type="button" class="btn btn-primary btn-block addDebitCredit">Ajout Débits/Crédits</button>
            </div>
            <div class="col-md-4">
                 <button type="button" class="btn btn-primary btn-block addChange">Ajout Change</button>
            </div>
        </div>

    </div>
</div>
