<div class="row">
    <div class="col-md-12">
        <p class="backYearView">
            <a href="#/transactions/{{ year }}"><i class="fa fa-angle-left" aria-hidden="true"></i> back to {{ year }} view </a>
        </p>
    </div>
</div>
<div class="row">
    <aside class="col-md-4">
        <div class="box">
            <h2 class="text-center capitalize">{{ date }}</h2>
            <hr/>
            <div class="details">
                <p><strong>Credits</strong> : {{ bilan.credits }}</p>
                <p><strong>Debits</strong> : {{ bilan.debits }}</p>
                <p style="padding: 1px 0 1px 0;"><strong>Balance</strong> : <big class="{{ bilan.color }}">{{ bilan.total }}</big></p>
                {{#bilan.counter}}
                <p><strong>Transactions</strong> : {{ bilan.counter }}</p>
                {{/bilan.counter}}
            </div>
            <hr/>
            {{#bilan.categories.length}}
            <div>
                <h3>Categories</h3>
                <canvas id="categorieYearPie" style="margin: 10px 0;"></canvas>
                <table class="table table-striped">
                    <tr>
                        <th>Label</th>
                        <th>Total</th>
                    </tr>
                {{# bilan.categories }}
                    <tr>
                        <td>{{0.name}}</td>
                        <td>{{ 2 }}</td>
                    </tr>
                {{/bilan.categories}}
                </table>
            </div>
            {{/bilan.categories.length}}
        </div>
    </aside>

    <div class="col-md-8">
        <div>
            <p style="float: right; margin: 10px 50px 20px 5px;">
                <button type="button" class="btn btn-primary addDebitCredit">Add Debits/Credits</button>
                <button type="button" class="btn btn-primary addChange">Add Change</button>
            </p>
        </div>
        <div>
            <div id="timeline">
                {{#liste}}
                <p class="day">{{ 0 }}</p>
                <div class="elements">
                    {{#1}}
                    <div class="element">
                        {{{ html.list }}}
                    </div>
                    {{/1}}
                </div>
                {{/liste}}
                {{^liste.length}}You have no transaction for this month yet.{{/liste.length}}
            </div>
        </div>
    </div>
</div>
