

<div class="row">
    <aside class="col-md-4">
        <div class="box">
            <h2 class="text-center capitalize">{{ date }}</h2>
            <hr/>
            <div class="details">
                <p><strong>Crédits</strong> : {{ bilan.credits }}</p>
                <p><strong>Débits</strong> : {{ bilan.debits }}</p>
                <p style="padding: 1px 0 1px 0;"><strong>Balance</strong> : <big class="{{ bilan.color }}">{{ bilan.total }}</big></p>
                <p><strong>Transactions</strong> : {{ liste.length }}</p>
            </div>
            <hr/>
            <div>
                <h3>Catégories</h3>
                <canvas id="categorieYearPie" style="margin: 10px 0;"></canvas>
                <table class="table table-striped">
                    <tr>
                        <th>Libellé</th>
                        <th>Total</th>
                    </tr>
                {{# bilan.categories }}
                    <tr>
                        <td>{{0.name}}</td>
                        <td>{{ 2 }}</td>
                    </tr>
                {{/bilan.categories}}
                </table>
            </div>
        </div>
    </aside>

    <div class="col-md-8">
        <div>
            <p style="float: right; margin: 10px 50px 20px 5px;">
                <button type="button" class="btn btn-primary addDebitCredit">Ajout Débits/Crédits</button>
                <button type="button" class="btn btn-primary addChange">Ajout Change</button>
            </p>
        </div>
        <div>
            <div id="timeline">
                {{#liste}}
                <p class="day">{{ 0 }}</p>
                <div class="elements">
                    {{#1}}
                    <div class="element">
                        {{{ html.list }}}
                    </div>
                    {{/1}}
                </div>
                {{/liste}}
            </div>
        </div>
    </div>
</div>
