


<div class="container-fluid">
	<div class="row background_grey" style="padding: 16px 0 0 0;">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<div>
				<p style="float: right; margin: 0 5px;">
					<button type="button" class="btn btn-primary addDebitCredit">Ajout Débits/Crédits</button>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<h2>Liste des Débits/Crédits</h2>

		<ul>
			{{# debitscredits }}
			<li>{{ name }} {{ date }} {{ amount }} {{ currency }}</li>
			{{/ debitscredits }}
			{{^ debitscredits}}
			 <p>Aucun debitscredtis n'est actuellement renseigné</p>
			{{/ debitscredits}}
		</ul>
		</div>
	</div>
</div>
