{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}723e{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/raphael-min.js" %}"></script>
    <script src="{% static "js/livicons-1.3.min.js" %}"></script>

	
  </head>
  <body>
  	
  	<div class="css_content js_content">
  		

	
	{% block page %}
	
	{% endblock %}

  	</div>
    
  </body>
</html>
