#login_page {
	color: black;
	&.not_loaded{
		.box_background {
			opacity: 0;
			margin-top: 60px;
			.transition(all 0.3s linear);
		}
		.request {
			opacity: 0;
			margin-top: 30px;
			.transition(all 0.3s linear);
		}
	}
	h1{
		font-size: 4.5em;
		text-align: left;
		color: black;
		margin-bottom: 30px;
		small {
			font-size: 14px;
		}
	}
	.box_background {
		opacity: 1;
		margin: auto;
		padding: 10px 30px;
		background: white;
		border: solid 1px #CCC;
		border-top: solid 4px @color_900;
		margin-top: 80px;
		margin-bottom: 80px;
		padding-bottom: 30px;
		.transition(all 0.3s linear);
		
		form{
			input[type=text], input[type=password]{
				width: 100%;
				padding: 4px;
			}
			input[type=submit]{
				float: right;
			}
		}
	}
	.error {
		visibility: hidden;
		display: none;
		opacity: 0;
		&.show {
			visibility: visible;
			display: block;
			opacity: 1;
			.transition(all 0.3s linear);
		}
	}
	ul{
		li{
			list-style: none;
			a {
				color: black;
			}
		}
	}
	.row-bottom {
		a.btn {
			margin-bottom: 10px;
		}
	}
	#subscription_form {
		display: none;
	}
	#about {
		display: none;
	}
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px 18px 18px 18px;
	}
}