#login_page {
	opacity: 1;
	width: 400px;
	margin: auto;
	margin-top: 20px;
	background: white;
	border-top: solid 4px @color_900;
	color: black;
	padding: 10px 30px;
	.transition(all 0.3s linear);
	&.not_loaded{
		opacity: 0;
		margin-top: 30px;
		.transition(all 0.3s linear);
	}
	h1{
		font-size: 4.5em;
		text-align: left;
		padding-left: 20px;
		color: black;
		margin-bottom: 30px;
	}
	.box{
		margin-bottom: 20px;
		.border-radius(10px);
		form{
			input[type=text], input[type=password]{
				width: 100%;
				padding: 4px;
			}
			input[type=submit]{
				float: right;
			}
		}
	}
	.error {
		visibility: hidden;
		opacity: 0;
		margin-bottom: 30px;
		.transition(all 0.3s linear);
		&.show {
			visibility: visible;
			opacity: 1;
			.transition(all 0.3s linear);
		}
	}
	ul{
		li{
			list-style: none;
			a {
				color: black;
			}
		}
	}
	.row-bottom {
		a.btn {
			margin-bottom: 10px;
		}
	}
}