@import (inline) "../../bower_components/normalize-css/normalize.css";
// Bootstrap
@import "variables.less";
@import "fonts.less";
@import "mixin.less";

@import "../../bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/print.less";
@import "../../bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/buttons.less";

// Components
@import "../../bower_components/bootstrap/less/component-animations.less";
@import "../../bower_components/bootstrap/less/dropdowns.less";
@import "../../bower_components/bootstrap/less/button-groups.less";
@import "../../bower_components/bootstrap/less/input-groups.less";
@import "../../bower_components/bootstrap/less/navs.less";
@import "../../bower_components/bootstrap/less/navbar.less";
@import "../../bower_components/bootstrap/less/breadcrumbs.less";
@import "../../bower_components/bootstrap/less/pagination.less";
@import "../../bower_components/bootstrap/less/pager.less";
@import "../../bower_components/bootstrap/less/labels.less";
@import "../../bower_components/bootstrap/less/badges.less";
@import "../../bower_components/bootstrap/less/jumbotron.less";
@import "../../bower_components/bootstrap/less/thumbnails.less";
@import "../../bower_components/bootstrap/less/alerts.less";
@import "../../bower_components/bootstrap/less/progress-bars.less";
@import "../../bower_components/bootstrap/less/media.less";
@import "../../bower_components/bootstrap/less/list-group.less";
@import "../../bower_components/bootstrap/less/panels.less";
@import "../../bower_components/bootstrap/less/responsive-embed.less";
@import "../../bower_components/bootstrap/less/wells.less";
@import "../../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../../bower_components/bootstrap/less/modals.less";
@import "../../bower_components/bootstrap/less/tooltip.less";
@import "../../bower_components/bootstrap/less/popovers.less";
@import "../../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/responsive-utilities.less";

@import (inline) "../../bower_components/font-awesome/css/font-awesome.min.css";
@import (inline) "../../bower_components/bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css";

body{
	background: @color_100;
	font-family: @font-family-sans-serif;
	.transition(all 0.3s linear);
	&.app{
		background: @color_0;
		.transition(all 0.3s linear);
	}
}

.container-fluid{
	padding: 0;
}

p{
	margin: 0;
}

a:focus { 
    outline: none; 
}
button::-moz-focus-inner {
  border: 0;
}


#navbar{
	background: @color_900;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: @color_200;
	.box-shadow(#444, 0px, 0px, 5px, 0px);
	h1.brand{
		float: left;
		font-size: 24px;
		margin: 7px 10px;
	}
	a{
		color: @color_300;
		text-decoration: none;
		&:hover{
			color: white;
		}
	}

	ul{
		// override bootstrap default margin
		margin-bottom: 0;
		li{
			float: left;
			list-style: none;
			padding: 12px 15px 10px 15px;
			text-transform: uppercase;
			.glyphicon{
				margin-right: 5px;
			}
			.glyphicon-tags{
				margin-right: 8px;
			}
		}
		&:first-child{
			text-align: center;
			float: left;
			position: absolute;
			left: 50%;
			margin-left: -305px;
			li.selected{
				background: @color_800;
				a{
					color: white;
					outline: none; 
				}
			}
		}
		&:last-child{
			float: right;
			li{
				text-transform: capitalize;
			}
		}
	}
}

#content{
	margin-top: 42px;
	header{
		.box-shadow(#CCC, 0px, 0px, 3px, 0px);
		padding-bottom: 18px;
		h2{
			margin: 0px;
			font-family: "open_sanslight";
			text-transform: capitalize;
		}
		&.grey{
			background: @color_50;
			border-bottom: solid 1px darken(@color_50, 8%);
		}
	}
}

.btn.btn-expend {
	width: 100%;
}

.livicon {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  height: 18px!important;
}

@import "transactions.less";
@import "categories.less";
@import "login.less";
