@import (inline) "../../bower_components/normalize-css/normalize.css";
// Bootstrap
@import (inline) "../../bower_components/bootstrap/dist/css/bootstrap.css";

@import "variables.less";

body{
	background: @greywhite;
}

#navbar{
	background: @deepblue;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: @texteBlue;
	h1{
		float: left;
		font-size: 30px;
		margin: 4px 10px;
	}
	a{
		color: @texteBlue;
		text-decoration: none;
		&:hover{
			color: white;
		}
	}

	ul{
		// override bootstrap default margin
		margin-bottom: 0;
		li{
			float: left;
			list-style: none;
			padding: 12px 15px 10px 15px;
			text-transform: uppercase;
			.glyphicon{
				margin-right: 5px;
			}
			.glyphicon-tags{
				margin-right: 8px;
			}
		}
		&:first-child{
			text-align: center;
			float: left;
			position: absolute;
			left: 50%;
			margin-left: -305px;
			li.selected{
				background: @deepblueselected;
				a{
					color: white;
				}
			}
		}
		&:last-child{
			float: right;
			li{
				text-transform: capitalize;
			}
		}
	}
}

#content{
	margin-top: 42px;
}

.livicon {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  height: 18px!important;
}
