alabaster
argh
Babel
backports.ssl-match-hostname
certifi
docutils
Jinja2
livereload
MarkupSafe
pathtools
Pygments
PyMySQL
pylint
pylint-django
snowballstemmer
Sphinx
sphinx-autobuild
sphinx-rtd-theme
tornado
watchdog


