{% load static sass_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>API Seven23</title>
        <meta name="description" content="Fully manual budget app to track your expenses. Completely opensource, with privacy by design." />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{% sass_src 'css/styles.scss' %}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/svg" href="{% static "images/icons/favicon.svg" %}" />
        <meta name="theme-color" content="#1e88e5">
    </head>
    <body>
    	{% block content %}
    	{% endblock %}
    </body>
</html>