{% extends 'base.html' %}
{% load static sass_tags %}


{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#features">Features</a></li>
                <li><a href="/#gallery">Gallery</a></li>
                <li><a href="/#pricing">Pricing</a></li>
                <li><a href="/#faq">FAQ</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="terms">
            <h2>Legals & Copyright</h2>

            <p>Seven23 is managed by the SPRB Consulting SASU company - 10 Rue De Penthièvre, 75008 Paris, France - Social capital of 1200 euros - RCS Paris 834 673 816.</p>

            <h3>Author</h3>

            <p>SPRB Consulting<br />
            Mr Sebastien BARBIER<br />
            10 rue de Penthièvre<br />
            75008 Paris, France<br />
            Contact : seven23@sebastienbarbier.com</p>

            <h3>Hosting</h3>

            <p>Clever Cloud SAS<br />
            3 rue de l'Allier<br />
            44000 Nantes, France.<br />
            Website : www.clever-cloud.com<br />
            General support (commercial and other requests): +33 2 85 52 07 69<br />
            Technical support: support@clever-cloud.com.</p>

            <h3>Licence</h3>

            <p>Application and website is licensed under a MIT licence.</p>

            <div style="font-size: 0.9em;">
                {{ terms|safe }}
            </div>

        </section>
    </main>
{% endblock %}