div.gallery {

  input[type="radio"]#no_gallery {
    display: none;
    & + div.gallery_list {
      opacity: 0;
      transition: opacity .250s;
    }

    &:checked + div.gallery_list {
      opacity: 1;
      transition: opacity .250s .150s;
    }

    &:checked + div.gallery_list + div.gallery_fullscreen{
      visibility: hidden;
      opacity: 0;
      transition: opacity .250s, visibility 0s .250s;

    }
    & + div.gallery_list + div.gallery_fullscreen{
      visibility: visible;
      position: fixed;
      top: 0px; bottom: 0px; left: 0px; right: 0px;
      background: $light;
      z-index: 200;
      opacity: 1;
      transition: opacity .250s .1s;
      display: flex;
      flex-direction: column;
      header {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        background: $light2;
        display: flex;
        justify-content: flex-end;
        label {
          cursor: pointer;
          float: right;
          background: $light3;
          padding: 8px 8px 8px 8px;

          margin-right: constant(safe-area-inset-right);
          margin-right: env(safe-area-inset-right);

          svg {
            fill: white;
          }
        }
      }
      ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-grow: 1;
        flex-shrink: 1;
        li {
          position: absolute;
          top: 0px; left: 0px; right: 0px; bottom: 0px;
          overflow: hidden;
          input[type="radio"]{
            display: none;
            & + div.viewer {
              opacity: 0;
              z-index: 210;
              height: 100%;
              display: flex;
              justify-content: center;
              align-itmes: center;
              transition: opacity .250s .250s;
              @media screen and (max-width: 1200px) {

                height: calc(100% - 80px);
              }
              img {
                max-width: calc(100vw - 250px);
                max-height: calc(90vh - 50px);
                margin: auto;
                @media screen and (max-width: 1200px) {
                  max-width: calc(100vw - 100px);
                  max-height: calc(90vh - 150px);
                }
                @media screen and (max-width: 680px) {
                  max-width: calc(100vw - 20px);
                  max-height: calc(90vh - 150px);
                }
              }
              div.next, div.previous {
                position: absolute;
                width: 100px;
                height: 100px;
                top: calc(50% - 50px);
                visibility: hidden;
                transition: visibility .0s .450s;
                z-index: 230;
                @media screen and (max-width: 1200px) {
                  top: auto;
                  bottom: 10px;
                }
                label {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  display: block;
                  opacity: 0.5;
                }
              }
              div.next {
                right: 10px;
                label {
                  background: url('../images/svg/baseline-chevron_right-24px.svg') no-repeat center center;
                  background-size: 50px;
                }
              }
              div.previous {
                transform: rotate(180deg);
                left: 10px;
                label {
                  background: url('../images/svg/baseline-chevron_right-24px.svg') no-repeat center center;
                  background-size: 50px;
                }
              }
            }
            &:checked + div.viewer {
              opacity: 1;
              transition: opacity .250s .250s;
              div.next, div.previous {
                visibility: visible;
                transition: visibility .0s;
              }
            }
          }
        }
      }
    }
  }
}