
div.selfhosted {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

    @keyframes appear {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    @keyframes appear2 {
      0% { opacity: 0; }
      20% { opacity: 0; }
      100% { opacity: 1; }
    }
    @keyframes appear3 {
      0% { opacity: 0; }
      40% { opacity: 0; }
      100% { opacity: 1; }
    }

    $duration: 1s;

    header {
        display: flex;
        justify-content: center;
        animation-name: appear;
        animation-duration: $duration;
        animation-delay: 0s;
        h1 {
            font-size: 8rem;
            position: relative;
            text-align: right;
            vertical-align: middle;

            // Media query for table
            @media (min-width: 769px) {
                background: url("../images/svg/seven23_round.svg") left center no-repeat;
                background-size: 1.4em;
                padding: 0.4em 0.4em 0.4em 1.8em;
            }

            @media (max-width: 768px) {
                font-size: 5rem;
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 20px 10vh 20px;

        .ok, .ko, .success, .valid, .error, .warn, .disabled {
            text-align: left;
            font-weight: 600;
            position: relative;
            padding-top: .3em;
            padding-left: calc(-2em - 10px);

            &:before {
                content: '';
                width: 2em;
                height: 2em;
                position: absolute;
                top: 5px;
                left: calc(-2em - 10px);
                border-radius: 50%;
            }
        }
        // Make animation for valid states. Disabled one will not be animated
        .ok, .ko, .success, .valid, .error, .warn {
            animation-name: appear2;
            animation-duration: $duration;
        }

        .ok, .valid, .success {
            // color: rgb(137, 174, 59);
            &:before {
                background: url("../images/svg/baseline-check-24px_white.svg") rgb(137, 174, 59) no-repeat;
                background-position: center center;
                background-size: 1.7em;
            }
        }

        .disabled {
            // color: rgb(128, 128, 128);
            &:before {
                background: url("../images/svg/baseline-check-24px_white.svg") rgb(128, 128, 128) no-repeat;
                background-position: center center;
                background-size: 1.7em;
            }
        }

        .ko, .error {
            // color: rgb(229, 115, 115);
            &:before {
                background: url("../images/svg/baseline-clear-24px_white.svg") rgb(229, 115, 115) no-repeat;
                background-position: center center;
                background-size: 1.7em;
            }
        }

        .warn {
            color: rgb(212, 177, 85);
            &:before {
                background: url("../images/svg/baseline-feedback-24px_white.svg") rgb(212, 177, 85) no-repeat;
                background-position: center center;
                background-size: 1.2em;
            }
        }

        div.wrapper {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                @media (max-width: 768px) {
                    font-size: 1.6em;
                }
            }

            &.links {
                flex-direction: row;

                @media (max-width: 460px) {
                    flex-direction: column;
                }

                a {
                    margin: 2px 4px;
                }
            }
        }

        ul.checklist {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            li {
                display: block;
                list-style: none;

                h2 {
                    margin-top: 0;
                    font-weight: 600;
                    line-height: 1.5;
                    font-size: 1.2em;
                    letter-spacing: -0.01em;

                }

                &.success {
                    p, form {
                        display: none;
                    }
                }

                &.disabled {
                    opacity: 0.4;
                    p, form {
                        display: none;
                    }
                }

                p {

                }
            }
        }

        form {
            label {
                display: block;
                color: black;
            }
            input[type="text"], input[type="email"], input[type="password"] {
                width: 100%;
                padding: 2px 4px;
            }
        }

        a, button {
            color: white;
            background: $colorDashboard;
            text-decoration: none;
            padding: 12px;
            border-radius: 4px;
            width: 100%;
            max-width: 400px;
            text-align: center;
            transition: background .2s;
            font-weight: 600;
            border: none;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            animation-name: appear2;
            animation-duration: $duration;

            &:hover {
                background: darken($colorDashboard, 10%);
                transition: background .3s;
            }
            &.disabled {
                opacity: 0.4;
                background: #888;
                cursor: default;
            }
        }
    }
}