@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    font-family: 'open_sansregular', sans-serif;
    font-size: 14px;
    margin: 0;
    pading: 0;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 100px;
    padding-bottom: 10vh;
}

header h1 {
    font-size: 120px;
    padding: 0;
    margin: 0em 0 0;
    letter-spacing: -3px;
    font-family: 'open_sansbold', sans-serif;
}

header p {
    font-family: 'open_sanslight', sans-serif;
    font-size: 22px;
    font-weight: 200;
    margin: 0 0 0 10px;
    letter-spacing: -0.5px;
    line-height: 1.1em;
}

header p strong {
    font-family: 'open_sansbold', sans-serif;
    font-size: 1.1em;
}

footer {
    display: none;
}