@import "./variables";
@import "./fonts";

* {
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    body {
        margin: 0;
        padding: 0;
        color: #333;
        h1, h2, h3 {
            color: #222;
        }
        background: rgb(249, 250, 252);
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      letter-spacing: -0.04em;
      color: #111;
      small {
      font-weight: 300;
        font-size: 0.8em;
      }
    }

    h1 {
      font-size: 2.2em;
      line-height: 1.125;
    }
    h2 {
      font-size: 2em;
      line-height: 1.125;
    }
    h3 {
      font-size: 1.6em;
      line-height: 1.125;
    }
    h4 {
      font-size: 1.4em;
      line-height: 1.2;
    }
    h5 {
      font-size: 1.3em;
      line-height: 1.3;
    }
    h6 {
      font-size: 1.2em;
      line-height: 1.4;
    }

    p, li {
      font-weight: 300;
      line-height: 1.5;
      font-size: 1em;
      letter-spacing: -0.01em;

      strong {
        font-weight: 600;
        font-size: 1.05em;
        letter-spacing: -0.04em;
      }
      a {
        color: #666;
        &:hover {
          color: black;
        }
      }
    }

}

header {

    border-top: solid 3px $colorTransactions;

    @media screen and (min-width: $mediumScreen) {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;

        &.homepage {
            height: 100vh;
        }

    }

    @media screen and (min-width: $smallScreen)  and (max-width: $mediumScreen - 1px) {
        min-height: 100vh;
    }

    @media screen and (max-width: $smallScreen - 1px) {
        // min-height: 100vh;
    }


    div#title {
        display: flex;
        flex-grow: 1;
        max-width: 1400px;
        margin: auto;

        @media screen and (max-width: $mediumScreen - 1px) {
            display: block;
        }

        div#title_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5vh 10vh 20vh 5vh;
            @media screen and (max-width: $mediumScreen - 1px) {
                padding: 10vh 5vw 5vh;
            }

            h1 {
                font-size: 6rem;
                padding: 0 0 8px 0;
                margin: 0em 0 0;
                letter-spacing: -3px;
                font-weight: 700;

                @media screen and (max-width: $mediumScreen - 1px) {
                    font-size: 50px;
                    letter-spacing: -2px;
                }
            }
            p {
                font-weight: 300;
                font-size: 1.4rem;
                font-weight: 200;
                line-height: 1.2em;
                margin: 0 0 0 .3rem;
                letter-spacing: -0.5px;

                @media screen and (max-width: $mediumScreen - 1px) {
                    font-size: 16px;
                    margin: 0;
                }

                strong {
                font-weight: 700;
                    font-size: 1.1em;
                    letter-spacing: -1px;
                }
            }
            p + p {
                padding-top: 2px;
            }
        }


        aside {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            flex: 50%;
            padding: 0 10px 10vh;

            @media screen and (max-width: $mediumScreen - 1px) {

                justify-content: flex-start;
                align-items: flex-start;
            }

            img {
                width: 100%;
                max-width: 700px;
                color: transparent;
            }
        }
    }

    nav {
        width: 100%;
        padding: 20px 17px;
        max-width: 1400px;
        margin: auto;
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            li {
                a {
                    display: flex;
                    align-items: center;
                    color: black;
                    text-decoration: none;
                    padding: 4px 20px;

                    svg { margin-left: 10px; }
                }
            }
        }
    }
}


main {

    #features {
        background: rgba(180, 185, 190, 0.05);
        padding: 40px 20px 30px;

        h2, ul {
            max-width: 1400px;
            margin: auto;
        }
        li {
            display: flex;
            flex-direction: column;
            p { flex-grow: 1;}
        }
        img {
            width: 100%;
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
            margin-top: 1em;
        }
    }

    #gallery {
        background: rgba(180, 185, 190, 0.1);
        padding: 40px 0px 0px;

        h2, ul {
            max-width: 1400px;
            margin: auto;
        }
        h2 {
            padding: 0 0 40px 58px;
            @media screen and (max-width: $mediumScreen - 1px) {
                padding: 0 0 0px 58px;
            }
            @media screen and (max-width: $smallScreen - 1px) {
                padding: 0 0 0 20px;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 40px;

            @media screen and (max-width: $mediumScreen - 1px) {
                flex-wrap: nowrap;
                -webkit-overflow-scrolling: touch;
                scroll-snap-type: x mandatory;
                overflow-x: scroll;
                padding: 10px 10px 30px 38px;
                margin: 0;
                justify-content: flex-start;
            }
            @media screen and (max-width: $smallScreen - 1px) {
                padding: 10px 10px 30px 10px;
            }

            li {
                flex: auto;
                padding: 0;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                scroll-snap-align: center;
                a {
                    img {
                        height: 250px;
                        color: transparent;
                    }
                }
            }
        }
    }

    #pricing {
        background: rgba(180, 185, 190, 0.15);
        padding: 40px 20px 30px;

        h2, ul {
            max-width: 1400px;
            margin: auto;
        }

        li {
            flex: 50%;
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $smallScreen) and (max-width: $mediumScreen - 1px) {
                flex: 100%;
                padding: 30px 40px;
            }

            @media screen and (max-width: $smallScreen - 1px) {
                flex: 100%;
                padding: 20px 0px;
                &:first-child div { padding-top: 14px; }
            }

            h3 + p {
                flex-grow: 1;
            }
            p.trial_period {
                text-align: right;
                padding-right: 20px;
                font-weight: 400;
                padding-top: 14px;

                @media screen and (max-width: $smallScreen - 1px) {
                    text-align: left;
                    padding-right: 0px;
                    padding-top: 18px;
                }
            }
            div {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width: $smallScreen - 1px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                p {
                    font-size: 3.7em;
                    font-weight: 400;
                    position: relative;
                    padding-right: 20px;
                    span {
                        font-size: 0.5em;
                        position: absolute;
                        top: .6em;
                        margin-left: 2px;
                    }
                    small {
                        padding-left: 0.65em;
                        font-weight: 300;
                        font-size: 0.6em;
                    }
                }
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: inherit;
                    color: white;
                font-weight: 700;
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 6px;
                    padding: 8px 14px;
                    &.disabled {
                        cursor: default;
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    #faq {
        background: rgba(180, 185, 190, 0.2);
        padding: 40px 20px 30px;

        h2, h3, p {
            max-width: 1400px;
            margin: auto;
            padding-left: 38px;

            @media screen and (max-width: $smallScreen - 1px) {
                padding-left: 0px;
            }

        }
        h3 { padding-top: 30px; padding-bottom: 16px; }
    }

    #contact {
        background: rgba(180, 185, 190, 0.25);
        padding: 40px 20px 30px;

        h2, p {
            max-width: 1400px;
            margin: auto;
            padding-left: 38px;

            @media screen and (max-width: $smallScreen - 1px) {
                padding-left: 0px;
            }
        }
        h2 { padding-bottom: 20px; }
        a {
            color: inherit;
        }
    }

    #terms {
        padding: 50px 20px;

        max-width: 1400px;
        margin: auto;
        h2 {
            padding-left: 0;
            padding-top: 40px;
        }
        h3 {
            padding-top: 20px;
        }
        ul {
            list-style: disc;
            display: block;
            padding: 10px 0 20px 30px;
            font-weight: 300;
            font-size: 1em;
            li { padding: 0 0 0 5px; }
        }
        ol { li { padding-bottom: 4px; }}
    }

    h2 {
        font-size: 3.2em;
        padding: 0 0 20px 38px;
        margin: 0em 0 0;
        letter-spacing: -2px;
                font-weight: 700;

        @media screen and (max-width: $mediumScreen - 1px) {
            font-size: 36px;
            letter-spacing: -2px;
            padding: 0 0 0px 38px;
        }

        @media screen and (max-width: $smallScreen - 1px) {
            padding: 0;
        }
    }

    h3 {
        font-size: 1.8em;
        padding: 0 0 0.8em;
        margin: 0em 0 0;
        letter-spacing: -1px;
                font-weight: 700;

        @media screen and (max-width: $mediumScreen - 1px) {
            font-size: 22px;
            letter-spacing: -2px;
        }
    }

    p {
        font-weight: 300;
        font-size: 1.1em;
        font-weight: 300;
        margin: 0 0 0 0;
        letter-spacing: -0.3px;

        @media screen and (max-width: $mediumScreen - 1px) {
            font-size: 1em;
            margin: 0;
        }

        strong {
                font-weight: 700;
            font-size: 1.05em;
            letter-spacing: -1px;
        }
    }
    p + p {
        margin-top: 4px;
    }


    ul {
        list-style: none;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        li {

            @media screen and (min-width: $mediumScreen) {
                &:first-child, &:nth-child(2) {
                    flex: 50%;
                    padding: 30px 40px 60px;
                }
                flex: 33.3%;
                padding: 50px 40px 50px;
                &:last-child {
                    flex: 100%;
                }
            }

            @media screen and (min-width: $smallScreen) and (max-width: $mediumScreen - 1px) {
                flex: 100%;
                padding: 30px 40px;

                &:nth-child(2) { padding-bottom: 60px; }
                &:last-child { padding-top: 60px; }
            }

            @media screen and (max-width: $smallScreen - 1px) {
                flex: 100%;
                padding: 20px 0px;
                font-size: 1rem;

                &:nth-child(2) { padding-bottom: 60px; }
                &:last-child { padding-top: 60px; }
            }
        }
    }
}

footer {
    width: 100vw;
    background: rgba(180, 185, 190, 0.3);
    padding: 0;
    div.wrapper {
        max-width: 1400px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 38px;

        @media screen and (max-width: $smallScreen - 1px) {
            flex-direction: column;
        align-items: flex-start;
            padding-left: 20px;
            p {
                text-align: left;
                padding: 40px 40px 40px 0;
            }
        }
    }
    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;

        li {
            padding-right: 20px;
            a {
                color: inherit;
            }
        }
    }
    p {
        padding: 40px;
        margin: 0;
        text-align: right;
        font-weight: 300;
        a {
            color: black;
            text-decoration: none;
                font-weight: 700;
            font-size: 2em;
            letter-spacing: -1px;
        }
    }
}