@import "./variables";
@import "./fonts";
@import "./self-hosted";

* {
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    body {
        margin: 0;
        padding: 0;
        color: #333;
        h1, h2, h3 {
            color: #222;
        }
        background: rgb(249, 250, 252);
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      letter-spacing: -0.04em;
      color: #111;
      small {
      font-weight: 300;
        font-size: 0.8em;
      }
    }

    h1 {
      font-size: 2.2em;
      line-height: 1.125;
    }
    h2 {
      font-size: 2em;
      line-height: 1.125;
    }
    h3 {
      font-size: 1.6em;
      line-height: 1.125;
    }
    h4 {
      font-size: 1.4em;
      line-height: 1.2;
    }
    h5 {
      font-size: 1.3em;
      line-height: 1.3;
    }
    h6 {
      font-size: 1.2em;
      line-height: 1.4;
    }

    p, li {
      font-weight: 300;
      line-height: 1.5;
      font-size: 1em;
      letter-spacing: -0.01em;

      strong {
        font-weight: 600;
        font-size: 1.05em;
        letter-spacing: -0.04em;
      }
      a {
        color: #666;
        &:hover {
          color: black;
        }
      }
    }
}