$smallScreen: 896px;
$mediumScreen: 1112px;

$colorDashboard: #1e88e5;
$colorTransactions: #0097a7;
$colorCategories: #43a047;
$colorChanges: #ef6c00;
$colorReport: #5c6bc0;
$colorSettings: #607d8b;

$light: rgb(247, 247, 246);
$light2: rgb(235, 235, 235);
$light3: rgb(200, 200, 200);