<div id="categories_view" class="container-fluid">
	<div class="row" style="padding: 16px 0 0 0;">
		<div class="col-md-6">

			<h2>Catégories</h2>
		</div>
		<div class="col-md-6">
			<div>
				<p style="float: right; margin: 0 5px;">
					<a href="#/categories/add" class="btn btn-primary addCategorie">Ajouter une nouvelle catégorie</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="categories" class="row">
				{{{ tree_enable }}}
			</div>
		</div>
	</div>

	{{#tree_disable}}
	<div class="row">
		<div class="col-md-12">
			<h6><i class="fa fa-plus-square"></i> Voir les catégories désactivés.</h6>
			<div id="categories_disable">
				{{{ tree_disable }}}
			</div>
		</div>
	</div>
	{{/tree_disable}}
</div>
