<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">	
			<div class="box_background">
				<form id="cat_form">
					<div class="row">
						<div class="col-md-12">
						{{#categorie}}
							<h2>Modifier une catégorie</h2>
						{{/categorie}}
						{{^categorie}}
						 	<h2>Ajouter une catégorie</h2>
						{{/categorie}}
						<hr/>
						</div>
						<div class="col-md-12">

							<div class="form-group">
							    <p class="error-msg"></p>
							    <div>
									<input type="text" value="{{#categorie}}{{ name }}{{/ categorie }}" class="form-control" name="name" placeholder="Name" />
								</div>
							</div>


							<div class="form-group">
							    <p class="error-msg"></p>
							    <div>
									<input type="text" value="{{#categorie}}{{ description }}{{/categorie}}" class="form-control" name="description" placeholder="Short description" />
								</div>
							</div>

							<div class="form-group">
								<p class="error-msg"></p>
							    <div class="input-group">
							    	<div class="input-group-addon"><i class="fa fa-tag"></i></div>
									<select class="form-control" name="parent">
										<option value="" selected>Select a parent category</option>
										{{#categories}}
										<option value="{{ id }}">{{ name }}</option>
										{{/categories}}
									</select>
								</div>
							</div>

						</div>
						<div class="col-md-8">
							<div class="form-group">
								<p class="error-msg"></p>
							    <div class="input-group">
							    	<div class="input-group-addon"><i class="fa fa-eyedropper"></i></div>
									<input type="text" value="{{#categorie}}{{ color }}{{/categorie}}" class="form-control colorpicker" name="color" placeholder="Color" />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<p class="error-msg"></p>
							    <div class="input-group">
									<div class="col-sm-12">
					                	<button class="btn btn-default iconpicker" name="icon" role="iconpicker"></button>
									</div>
								</div>
							</div>
						</div>
						{{#categorie}}
							<input type="hidden" name="id" value="{{ id }}" />
							<input type="hidden" name="user" value="{{ user }}" />
						{{/categorie}}
					</div>
					<hr/>
					<div class="row">
						<div class="col-md-6">
							{{#categorie}}
							<input type="submit" value="Modifier" class="btn btn-primary btn-block"/>
							{{/categorie}}
							{{^categorie}}
							<input type="submit" value="Créer" class="btn btn-primary btn-block"/>
							{{/categorie}}
						</div>
						<div class="col-md-6">
							<a href="#/categories" class="btn btn-default btn-block cat_form_cancel">Annuler</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>