<div class="container-fluid">
	<div class="row background_grey" style="padding: 16px 0 0 0;">
		<div class="col-md-6">
			<form class="form-horizontal" role="form">
				<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Recherche</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Filtre">
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">

			<div>
				<div class="btn-group" style="float: right; margin: 0 5px;">
					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span></button>
					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-large"></span></button>
				</div>
				<p style="float: right; margin: 0 5px;">
					<button type="button" class="btn btn-primary addCategorie">Ajouter une nouvelle catégorie</button>
				</p>

			</div>

		</div>
	</div>
	<div class="row">
	</div>
</div>
