<div id="cat_form">
	<form>
		<div class="row">
			<div class="col-md-12">
				<h2>Ajouter une nouvelle catégorie</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-12 control-label">Nom</label>
					<div class="col-sm-12">
						<input type="text" value="" class="form-control"  name="cat_form_nom" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Description</label>
					<div class="col-sm-12">
						<input type="text" value="" class="form-control"  name="cat_form_description" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-12 control-label">Couleur</label>
					<div class="col-sm-12">
						<input type="text" value="text" class="form-control" name="cat_form_color" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-12 control-label">Icone</label>
					<div class="col-sm-12">
						<input type="text" value="text" class="form-control" name="cat_form_icon" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<button type="button" class="btn btn-primary cat_form_submit">Créer</button>
				<button type="button" class="btn btn-primary cat_form_cancel">Annuler</button>
			</div>
		</div>
	</form>
</div>
