{% extends "index.html" %}
{% load static from staticfiles %}

{% block page %}


<div class="container">
	<div class="row">
		<div class="col-lg-4">
			
		</div>
		<div class="col-lg-4">
			
			
			<form id="js_login_form" method="post" action="{% url 'homepage' %}">
			{% csrf_token %}
			<div class="js_login_form_table">
				<table>
			{{ form.as_table }}
			</table>
			</div>	
			<input type="submit" value="login" />
			</form>
		</div>
		<div class="col-lg-4">
			
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#js_login_form").submit(function(){
		
		list = {};
		jQuery.map($(this).serializeArray(), function(n, i){
			list[n['name']] = n['value'];
		});
	
		$.post("/api/v1/login/", list, function(json){
			if(json.code == 200){
				window.location.href = "/dashboard/";
			}else{
				//$("js_login_form_table").html(json.form);
			}
		});
		
		return false;
	});
</script>

{% endblock %}
