<div id="navbar">

	<h1>723e</h1>

	<div>
		<ul>
			<li><a href=""><span class="glyphicon glyphicon-list"></span> Transactions</a></li>
			<li><a href=""><i class="livicon" data-name="tags" data-size="24"></i> Catégories</a></li>
			<li><a href="#">Settings</a></li>
		</ul>

		<ul>
			<li><a href="#/logout">Logout</a></li>
		</ul>
	</div>

</div>
