

<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading">Oops, an error occured</div>
                <div class="panel-body">
                    <p>Something wrong appened, and its not normal :(</p>
                </div>
            </div>
            <p><a class="btn btn-default" href="#/login">Back to login page</a></p>
        </div>
    </div>
</div>
