<div id="navbar">

	<h1 class="brand">723e</h1>

	<div>
		<ul>
			<li class="nav_dashboard selected">
				<a href="#/dashboard"><span class="glyphicon glyphicon-home"></span>Dashboard</a>
			</li>
			<li class="nav_transactions">
				<a href="#/transactions"><span class="glyphicon glyphicon-list"></span>Transactions</a>
			</li>
			<li class="nav_categories">
				<a href="#/categories"><span class="glyphicon glyphicon-tags"></span>Catégories</a>
			</li>
			<li class="nav_settings">
				<a href="#/settings"><span class="glyphicon glyphicon-wrench"></span>Settings</a>
			</li>
		</ul>

		<ul>
			<li><a href="#/logout">Logout</a></li>
		</ul>
	</div>

</div>

<div id="content">

</div>
