<div id="login_page" class="not_loaded">
	<div class="container">
		<div class="row">
	  		<div class="col-md-4">
				<h1>723e</h1>
				<div class="box">
					<form id="login_form"><p>
						<input type="text" name="username" placeholder="Identifiant"/>
						<input type="password" name="password" placeholder="Mot de passe"/>
						<input type="submit" class="btn btn-primary" />
						<div class="clearfix"></div>
					</p></form>
				</div>
				<ul>
					<li><a href="">Inscription</a></li>
					<li><a href="">Mot de passe oublié</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>