<div id="login_page" class="not_loaded">
	<div class="container-fluid">
		<div class="row">
	  		<div class="col-md-12">
				<h1>723e</h1>
				<div class="box">
					<form id="login_form"><p>
						<input type="text" name="username" placeholder="Identifiant"/>
						<input type="password" name="password" placeholder="Mot de passe"/>
						<input type="submit" class="btn btn-primary" />
						<div class="clearfix"></div>
					</p></form>
				</div>
				<ul>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="row row-bottom">
			<div class="col-md-6">
				<a href="" class="btn btn-primary btn-expend">Inscription</a>
			</div>
			<div class="col-md-6">
				<a href="" class="btn btn-default btn-expend">Mot de passe oublié</a>
			</div>
		</div>
	</div>
</div>