<div class="container">
    <div class="row">
        <div class="col-md-3" style="padding-top: 20px;">
            <div class="list-group">
                <a href="#/settings" class="list-group-item active">User account</a>
            </div>
        </div>
        <div class="col-md-9">
            <h1>User détails</h1>
            <dl class="dl-horizontal">
              <dt>Username</dt>
              <dd>{{ user.username }}</dd>
              <dt>Mail</dt>
              <dd>{{ user.email }}</dd>
              <dt>Id</dt>
              <dd>{{ user.id }}</dd>
            </dl>
			      <h2>Accounts</h2>
            <dl class="dl-horizontal">
                {{# user.accounts }}
                <dt>{{ name }}</dt>
                <dd>{{ create }} - {{ currency_json.sign }} - {{ archived }}</dd>
                {{/ user.accounts }}
            </dl>
        </div>
    </div>
</div>
 