<div class="container">
	<div class="row">
		<div class="col-md-12">
        	<p class="backYearView">
        		<a href="#/transactions/{{ year }}"><i class="fa fa-angle-left" aria-hidden="true"></i> back to {{ year }} view </a>
        	</p>
		</div>
	</div>
	<div id="debitscredits">
		
	</div>
</div>
