
<div class="container-fluid">
	<div class="row background_grey" style="padding: 16px 0 0 0;">
		<div class="col-md-6">
			<button class="btn"style="width: 140px;  float: left;" data-value="2014-09"><< Septembre</button>
			<select name="" class="form-control" style="width: 180px; margin: 0 10px; float: left;">
				<option value="2014-10">Octobre 2014</option>
				<option value="2014-09">Septembre 2014</option>
			</select>
			<button class="btn"style="width: 140px; float: left;" data-value="2014-11">Novembre >></button>
		</div>
		<div class="col-md-6">
			<div>
				<p style="float: right; margin: 0 5px;">
					<button type="button" class="btn btn-primary addDebitCredit">Ajout Débits/Crédits</button>
					<button type="button" class="btn btn-primary addChange">Ajout Change</button>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="listes"></div>
		</div>
	</div>
</div>
