<div id="transactions">
	<div id="transactions_bar">
		<div id="t_date_range">
			<div class="carret">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</div>
			<p>Janvier 2014</p>
		</div>
		<div id="t_accounts">
			<div class="carret">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</div>
			<div class="t_account">
				<p>Compte courant</p>
				<p><small>Devise : CHF</small></p>
			</div>
		</div>
		<div id="t_quicklook">
			<div class="balance">
				<p><small>Balance : </small> <span class="value">+ 1198 CHF</span></p>
				<p class="last"><small>Mois précédent : + 440 CHF </small></p>
			</div>
			<div class="earned">
				<p><small>Gains : </small> <span class="value">+ 5500 CHF</span></p>
				<p class="last"><small>Mois précédent : + 440 CHF </small></p>
			</div>
			<div class="spended">
				<p><small>Dépenses : </small> <span class="value">- 4302 CHF</span></p>
				<p class="last"><small>Mois précédent : + 440 CHF </small></p>
			</div>
		</div>
	</div>


	<div style="display: block; background: white; width: 100%; height: 800px;">

	</div>
</div>
