
<div class="transaction change" data-id="{{ change.id }}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<p><i class="fa fa-exchange"></i> {{ change.name }}</p>
			</div>
			<div class="col-md-5">
				<p class="text-right"><small>{{ change.value }} <i class="fa fa-long-arrow-right"></i> {{ change.new_value }} <em>(Taux {{ change.exchange_rate }})</em></small></p>
			</div>
		</div>
	</div>
</div>
<ul class="actions">
	<li class="delete"><i class="fa fa-trash-o"></i></li>
	<li class="edit"><i class="fa fa-pencil-square-o"></i></li>
</ul>



