
<div class="transaction change" data-id="{{ change.id }}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p>{{ change.name }} <small>{{ change.value }} > {{ change.new_value }} (Taux {{ change.exchange_rate }})</small></p>
			</div>
		</div>
	</div>
</div>
<ul class="actions">
	<li class="delete"><i class="fa fa-trash-o"></i></li>
	<li class="edit"><i class="fa fa-pencil-square-o"></i></li>
</ul>



