<div class="debitscredits" data-id="{{ debitsCredits.id }}">
	<div class="transaction">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">{{ debitsCredits.name }}</div>
				<div class="col-md-4 value">{{ debitsCredits.reference_value }}</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<button type="button" class="btn btn-primary btn-xs edit">Modifier</button>
		<button type="button" class="btn btn-primary btn-xs delete">Supprimer</button>
	</div>
	<div style="clear: both;"></div>
</div>
