<div class="transaction debitcredit" data-id="{{ debitsCredits.id }}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-md-5">{{ debitsCredits.name }}{{^debitsCredits.isFavoriteCurrency}} ({{ debitsCredits.defaultCurrency }}){{/debitsCredits.isFavoriteCurrency}}</div>
			<div class="col-sm-4 col-md-3"><i class="fa {{  debitsCredits.categoryJSON.icon }}" style="color: {{  debitsCredits.categoryJSON.color }}; font-size: 1.2em; padding-right: 10px;"></i>{{ debitsCredits.categoryJSON.name }}</div>

			{{#debitsCredits.isFavoriteCurrency}}
				{{#debitsCredits.isCredit}}
				<div class="col-sm-2 col-md-2 value">{{ debitsCredits.defaultCurrency }}</div>
				<div class="col-sm-2 col-md-2 value"></div>
				{{/debitsCredits.isCredit}}
				{{^debitsCredits.isCredit}}
				<div class="col-sm-2 col-md-2 value"></div>
				<div class="col-sm-2 col-md-2 value">{{ debitsCredits.defaultCurrency }}</div>
				{{/debitsCredits.isCredit}}
			{{/debitsCredits.isFavoriteCurrency}}

			{{^debitsCredits.isFavoriteCurrency}}
				{{#debitsCredits.isCredit}}
				<div class="col-sm-2 col-md-2 value">{{ debitsCredits.favoriteCurrency }}</div>
				<div class="col-sm-2 col-md-2 value"></div>
				{{/debitsCredits.isCredit}}
				{{^debitsCredits.isCredit}}
				<div class="col-sm-2 col-md-2 value"></div>
				<div class="col-sm-2 col-md-2 value">{{ debitsCredits.favoriteCurrency }}</div>
				{{/debitsCredits.isCredit}}
			{{/debitsCredits.isFavoriteCurrency}}




		</div>
	</div>
</div>
<ul class="actions">
	<li class="edit">Modifier</li>
	<li class="delete">Supprimer</li>
</ul>
